@font-face {
	font-family: 'RalewayThin';
	src: url('fonts/RalewayThin.eot');
	src: local('☺'), url('fonts/RalewayThin.woff') format('woff'), url('fonts/RalewayThin.ttf') format('truetype'), url('fonts/RalewayThin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

