@font-face {
	font-family: 'RalewayExtraBold';
	src: url('fonts/RalewayExtraBold.eot');
	src: local('☺'), url('fonts/RalewayExtraBold.woff') format('woff'), url('fonts/RalewayExtraBold.ttf') format('truetype'), url('fonts/RalewayExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

